.footerList li::before {
    content: '';
    width: 7px;
    height: 7px;
    background-color: #D38312;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}